body {
  background-color: #303133;
	color: #eeeeee;
}

body.theme-light {
	background-color: #eeeeee;
	color: #303133;
}

footer {
	text-align: center;
}

main {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
