/* palette of colors
    #493843
    #61988E
    #A0B2A6
    #CBBFBB
    #EABDA8
*/
#personal_img  {
    border-radius: 50%;
}
#h1 {
    display: inline;
}
#ul_link_contact li {
	list-style-type: none;
    display: inline;
}
li {
    list-style-type: none;
}
body {
    background-color: #A0B2A6;
}
table {
    border: 1px solid #EABDA8;
}
table tr td {
    width: 25%;
    height: auto;
    /*border: 1px solid #EABDA8;*/
}
td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #EABDA8;
    height: 75%;
}
table tr td p {
    text-align: center;
    height: 25%;
    border: 1px solid #EABDA8;
}